@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* || RESET */

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

/* || VARIABLES */

:root {
  /* COLORS */
  --clr-dark: #000235;
  --clr-light: #ffffff;
  --clr-blue: #66B9FF;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}


/* || UTILITIES */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nodefaultlinks {
  text-decoration: none;
  color: var(--clr-light)
}

/* ||  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__img {
  width: 25em;
}

.page__title {
  font-weight: 600;
  font-weight: bold;
}


.page__icon {
  width: 1.5rem;
}

.hero > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__title {
  font-size: 3rem;
}

.hero_buttons {
  display: flex;
  gap: 1.5rem;
}

.fill__button {
  background-color: var(--clr-blue);
  color: var(--clr-dark);
  border-radius: 50px;
  padding: 0.3rem 2rem;
}


.ghost__button {
  background-color: var(--clr-dark);
  color: var(--clr-blue);
  border-radius: 50px;
  padding: 0.3rem 2rem;
  border: 1px solid var(--clr-blue);
  transition-duration: 0.4s;
}

.ghost__button:hover {
  background-color: var(--clr-blue);
  color: var(--clr-dark);
}
