/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* ====== */

.li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.a {
  text-decoration: none;
  color: var(--clr-light);
}

.svg {
  width: 22px;
  height: 22px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.svg--small {
  height: 1em;
  width: 1em;
}

/* || Blocks */
/* aka components */

/*
=====
BLOCK: header
=====
*/

/*
=====
BLOCK: hero
=====
*/

/* || MODIFIERS */
/* incremental style changes */

/* Blocks with modifiers */

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* Does not represent HTML structure (nested elements) */

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
=====
BLOCK: form
=====
*/

/*

**************************************************************************************
*/

/*

***************************************************************************************
*/
